<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 상세</title>
    <link rel="stylesheet" href="/css/tourDetail.css">
</head>
<body>
<main>
    <!-- 상품 정보 -->
    <section>
        <h2 th:text="${tour.tourName}">상품명</h2>
        <p><strong>상품 설명:</strong> <span th:text="${tour.tourDesc}">상품 설명</span></p>
        <p><strong>여행 기간:</strong> <span th:text="${tour.tourPeriod}">기간</span></p>
        <p><strong>여행 지역:</strong> <span th:text="${tour.tourRegion}">지역</span></p>
        <p><strong>가격:</strong> <span th:text="${tour.tourPrice}">0</span>원</p>
        <p><strong>최대 인원:</strong> <span th:text="${tour.maximum}">0</span>명</p>
    </section>

    <!-- 카테고리 -->
    <section>
        <h3>카테고리</h3>
        <ul>
            <li th:each="category : ${tour.categoryResDtoList}" th:text="${category.name}">카테고리</li>
        </ul>
    </section>

    <!-- 가이드 정보 -->
    <section>
        <h3>담당 가이드</h3>
        <ul>
            <li th:each="guide : ${tour.guideInTourResDtos}">
                <p><strong>이름:</strong> <span th:text="${guide.name}">가이드 이름</span></p>
                <p><strong>설명:</strong> <span th:text="${guide.bio}">가이드 설명</span></p>
            </li>
        </ul>
    </section>
</main>
</body>
</html>