<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>유저 회원가입</title>

    <style>
        .error-message {
            color: red;
            font-size: 12px;
        }
    </style>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

</head>

<body class="container mt-5">

    <form th:action="@{/users/join}" method="post" th:object="${joinRequest}">

        <div class="mb-3">
            <label for="userEmail" class="form-label">이메일</label>
            <div class="input-group">
                <input type="email" id="userEmail" class="form-control mx-1" th:field="*{email}" maxlength="50" required
                        th:errorclass="border-danger"/>
                <button type="button" class="btn btn-secondary mx-1 idCheck" onclick="emailCheck()">중복 체크</button>
            </div>
            <p id="email-check-result"></p>
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error-message">이메일 오류</p>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">비밀번호</label>
            <div class="input-group">
                <input type="password" class="form-control" id="password" onkeyup="passwordCheck();" th:field="*{password}" minlength="8" maxlength="16" required
                       th:errorclass="border-danger"/>
                <span id="password-success" style="display: none;">✅</span>
            </div>
            <p id="password-check-result"></p>
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error-message">비밀번호 오류</p>
        </div>

        <div class="mb-3">
            <label for="rePassword" class="form-label">비밀번호 확인</label>
            <div class="input-group">
                <input type="password" class="form-control" id="rePassword" onkeyup="rePasswordCheck();" minlength="8" maxlength="16" required />
                <span id="rePassword-success" style="display: none;">✅</span>
            </div>
        </div>

        <div class="mb-3">
            <label th:for="name" class="form-label">이름</label>
            <input type="text" class="form-control" th:field="*{name}" maxlength="25" th:errorclass="border-danger" required />
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error-message">이름 오류</div>
        </div>

        <div class="mb-3">
            <label for="nickname" class="form-label">닉네임</label>
            <div class="input-group">
                <input type="text" class="form-control mx-1" id="nickname" th:field="*{nickname}" th:errorclass="border-danger" maxlength="25" required />
                <button type="button" class="btn btn-secondary mx-1 idCheck" onclick="nicknameCheck()">중복 체크</button>
            </div>
            <p id="nickname-check-result"></p>
            <p th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}" class="error-message">닉네임 오류</p>
        </div>

        <div class="mb-3">
            <label th:for="phone" class="form-label">전화번호</label>
            <input type="tel" class="form-control" th:field="*{phone}" maxlength="11" th:errorclass="border-danger" required />
            <p th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="error-message">전화번호 오류</p>
        </div>

        <div class="mb-3">
            <label class="form-label">생년월일</label>
            <input type="date" class="form-control" name="birthDate">
        </div>

        <div class="mb-3">
            <input type="radio" id="male" name="gender" value="M">
            <label for="male" class="form-label">남</label>
            <input type="radio" id="female" name="gender" value="F">
            <label for="female" class="form-label">여</label>
        </div>

        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary mx-1">회원가입</button>
            <button type="button" class="btn btn-secondary mx-1" onclick="history.back()">취소</button>
        </div>
    </form>

<script th:inline="javascript">
    const emailCheck = async () => {
        const email = document.getElementById("userEmail").value;
        const checkResult = document.getElementById("email-check-result");

        if (email === "") {
            checkResult.style.color = "red";
            checkResult.innerHTML = "이메일을 입력해주세요";
            document.getElementById("userEmail").focus();
            return false;
        }

        try {
            const response = await fetch("/users/email-check", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(email)
            });

            if (!response.ok) throw new Error(`Error: ${response.status}`);

            const res = await response.text();

            if (res === "ok") {
                checkResult.style.color = "green";
                checkResult.innerHTML = "사용가능한 이메일입니다";
            } else if (res === "duplicated") {
                checkResult.style.color = "red";
                checkResult.innerHTML = "이미 사용 중입니다";
            } else if (res === "invalid") {
                checkResult.style.color = "red";
                checkResult.innerHTML = "이메일 형식이 올바르지 않습니다";
            }
        } catch (error) {
            checkResult.style.color = "red";
            checkResult.innerHTML = "서버 오류 발생";
        }
    }

    const passwordCheck = async () => {
        const password = document.getElementById("password").value;
        const checkResult = document.getElementById("password-check-result");
        const pwdSuccess = document.getElementById("password-success");

        if(password === "") {
            pwdSuccess.style.display = "none";
            checkResult.innerHTML = "비밀번호를 입력해주세요";
            return false;
        }

        try {
            const response = await fetch("/users/password-check", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(password)
            });

            if (!response.ok) throw new Error(`Error: ${response.status}`);

            const res = await response.text();

            if (res === "ok") {
                pwdSuccess.style.display = "inline-block";
                checkResult.innerHTML = "";
            } else {
                pwdSuccess.style.display = "none";
                checkResult.style.color = "red";
                checkResult.innerHTML = "영대소문자, 특수문자, 숫자를 포함해주세요";
            }
        } catch (error) {
            checkResult.style.color = "red";
            checkResult.innerHTML = "서버 오류 발생";
        }
    }

    const rePasswordCheck = () => {

        const rePassword = document.getElementById("rePassword").value;
        const rePwdSuccess = document.getElementById("rePassword-success");

        if (rePassword === "") {
            rePwdSuccess.style.display = "none";
            return false;
        }

        if (rePassword === document.getElementById("password").value) {
            rePwdSuccess.style.display = "inline-block";
        } else {
            rePwdSuccess.style.display = "none";
        }
    }

    const nicknameCheck = async () => {
        const nickname = document.getElementById("nickname").value;
        const checkResult = document.getElementById("nickname-check-result");

        if (nickname === "") {
            checkResult.style.color = "red";
            checkResult.innerHTML = "닉네임을 입력해주세요";
            document.getElementById("nickname").focus();
            return false;
        }

        try {
            const response = await fetch("/users/nickname-check", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(nickname)
            });

            if (!response.ok) throw new Error(`Error: ${response.status}`);

            const res = await response.text();

            if (res === "ok") {
                checkResult.style.color = "green";
                checkResult.innerHTML = "사용가능한 닉네임입니다";
            } else {
                checkResult.style.color = "red";
                checkResult.innerHTML = "이미 사용 중입니다";
            }
        } catch (error) {
            checkResult.style.color = "red";
            checkResult.innerHTML = "서버 오류 발생";
        }
    }

    window.addEventListener('DOMContentLoaded', () => {
        const invalidInput = document.querySelector('.is-invalid');
        if (invalidInput) {
            invalidInput.focus();
        }
    });
</script>

</body>
</html>
