<div class="container-fluid">
    <footer class="d-flex flex-wrap justify-content-around align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <span class="mb-3 mb-md-0 text-body-secondary">&copy; 2024 Elice Cloud Track5, Team 6</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-4"><a class="text-body-secondary" href="https://cloudtrack.elice.io/explore"><img style="width: 20px; height: 20px" src="/images/홈.png"/></svg></a> </li>
            <li class="ms-4"><a class="text-body-secondary" href="https://kdt-gitlab.elice.io/cloud_track/class_05/web_project2/team06/hifive/yeodam"><img style="width: 20px; height: 20px" src="/images/깃랩.png"></a></li>
            <li class="ms-4"><a class="text-body-secondary" href="https://www.notion.so/elice-track/c71ee142b54c44c9bcde14855b43f207"><img style="width: 20px; height: 20px" src="/images/노션.png"/></svg></a></li>
            <li class="ms-4"><a class="text-body-secondary" href="https://www.erdcloud.com/d/bWefMgQuTxkCnzwPd"><img style="width: 20px; height: 20px" src="/images/설계.png"/></a></li>
        </ul>
    </footer>
</div>