/* styles.css */
.manage-body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    width: 80%;
    margin: 50px auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.add-button {
    display: block;
    margin: 0 auto 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.add-button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

thead {
    background-color: #f1f1f1;
}

th, td {
    text-align: center;
    padding: 12px;
    border: 1px solid #ddd;
}

th {
    font-weight: bold;
}

td ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.status-circle {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: blue;
    border-radius: 50%;
}
.edit-button, .delete-button {
    margin: 2px;
    padding: 5px 10px;
    background-color: #007BFF; /* 수정 버튼 색상 */
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.delete-button {
    background-color: #DC3545; /* 삭제 버튼 색상 */
}

.edit-button:hover, .delete-button:hover {
    opacity: 0.9;
}