.custom-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

.custom-container h2 {
    margin-bottom: 15px;
}

.stars {
    color: gold;
}

.card {
    display: flex;
    margin-bottom: 15px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-content {
    flex: 1;
    padding: 15px;
}

.cancel-btn {
    margin-left: auto;
    background-color: red;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.cancel-btn:hover {
    background-color: #dc5353;
}

.carousel-inner img {
    margin: 10px 0;
    min-width: 530px;
    max-width: 530px;
    min-height: 400px;
    max-height: 400px;
    height: auto;
    border-radius: 8px;
}

.next-btn {
    display: inline-block;
    width: 100%;
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    text-decoration: none;
    background-color: #cbc9c9;
    border: none;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
}

.next-btn:hover{
    background-color: #e1dfdf;
}