@charset "utf-8";
.container {
    display: flex;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    background-color: #f5f5f5;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}
.sidebar h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.sidebar button,
.sidebar input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
}

.sidebar button:hover {
    background-color: #f0f0f0;
}

.tour-list {
    width: 80%;
    margin-left: 270px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.tour-card {
    display: flex;
    align-items: flex-start;
    border: 1px solid #ddd;
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 8px;
    position: relative;
    transition: box-shadow 0.2s;
}
.tour-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.thumbnail img {
    border-radius: 8px;
    object-fit: cover;
}

.tour-card img {
    width: 350px;
    height: 350px;
    object-fit: cover;
}

.tour-card .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.tour-card h4 {
    margin: 0 0 10px;
    font-size: 18px;
    color: #333;
}

.tour-card p {
    display: -webkit-box; /* Flexbox 기반 레이아웃 사용 */
    -webkit-line-clamp: 2; /* 최대 2줄까지 표시 */
    -webkit-box-orient: vertical; /* 박스 방향 설정 */
    overflow: hidden; /* 넘치는 텍스트 숨김 */
    text-overflow: ellipsis; /* 넘치는 텍스트에 '...' 표시 */
    margin: 8px 0;
}

.tour-card .price {
    position: absolute; /* 절대 위치 지정 */
    bottom: 16px; /* 카드의 하단에서 16px 띄움 */
    right: 16px; /* 카드의 오른쪽에서 16px 띄움 */
    font-size: 1.2rem;
    font-weight: bold;
    color: red;
}

.sidebar {
    width: 200px;
}

.dropdown {
    margin-bottom: 20px;
}

.dropdown-btn {
    width: 100%;
    padding: 10px;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    text-align: left;
}

.dropdown-content {
    display: none;
    margin-top: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
}

.dropdown-content button {
    display: block;
    width: 100%;
    padding: 8px;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
}

.dropdown-content button:hover {
    background-color: #f0f0f0;
}

/* Active dropdown */
.dropdown.active .dropdown-content {
    display: block;
}
