<head>
    <meta charset="UTF-8">
    <title>결제완료</title>
    <link rel="icon" href="/images/favicon.png" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/success-form.css">
</head>
<body>
<div class="info">
    <h3>주문완료</h3>
    <p>여담을 이용해 주셔서 감사합니다. <br/>
        주문이 정상적으로 처리되었습니다.</p>
    <p>주문 번호 : <span th:text="${orderUid}"></span></p>
    <div>
        <a href="/" class="btn home-btn">홈으로 이동하기</a>
        <a href="/orders" class="btn btn-dark search-btn">주문 내역 보기</a>
    </div>
</div>
<div class="footer-area">
    <div th:replace="~{fragments/footer.html::footer}"></div>
</div>
</body>
